/* Constants */

  .hero-section,
  .whatsincluded-section,
  .whositfor-section,
  .uxplan-section,
  .contactform-section  {
    width: 100%;
    position: relative;
  }

  .background {
    z-index: -8;
  }

  #whatsincluded,
  #whositfor,
  #work,
  #values,
  #contactform {
    position: absolute;
  }

  #whatsincluded,
  #work,
  #contactform {
    top: -80px;
  }

  #whositfor {
    top: -120px;
  }

  #values {
    top: -160px;
  }

  .red-divider:after {
    content: '';
    background-color: #B70303;
    width: 100%;
    height: 2px;
    max-width: 96px;
    display: block;
    margin: 36px auto 48px;
  }


/* Section - Hero */
  .hero-section {
    height: 100%;
  }

  .hero-section > .container {
    padding: 288px 48px 320px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero-content {
    color: #ffffff;
    margin: auto 0;
    width: 50%;
  }

  .hero-content > .flueron {
    background: url(../img/logos/apical-logo-black.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    margin: 0 auto 16px;
    height: 80px;
    width: 80px;
  }

  .hero-content > .main-heading {
    margin-bottom: 24px;
  }

  .hero-content > .caption {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 36px;
  }

  .hero-front,
  .hero-back {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .hero-front {
    top: -10%;
    z-index: -8;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .hero-back {
    top: -12.5%;
    z-index: -16;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  .hero-front > .front,
  .hero-back > .back {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .hero-front > .front {
    background-image: url(../img/stock/pricing-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    top: 10%;
  }

  .hero-back > .back {
    background-color: #70B3B8;
    top: 0;
  }

/* Section - What's Included */
  .whatsincluded-section {
    height: 100%;
  }

  .whatsincluded-section > .container {
    height: 100%;
    padding: 120px 48px 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .whatsincluded-content {
    width: 49%;
    text-align: center;
  }

  .whatsincluded-content > .icon {
    background-image: url(../img/icons/whatsincluded.svg);
    height: 400px;
    width: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .whatsincluded-content-left {
    height: 400px; /*delete*/
  }

  .whatsincluded-content-right {
    text-align: left;
  }

  .whatsincluded-content-right > .heading:after {
    margin-left: 0;
  }

  .whatsincluded-list {
    list-style-type: none;
    text-align: left;
    line-height: 16px;
    margin-bottom: 36px;
  }

  .whatsincluded-list > .item {
    margin-bottom: 12px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .whatsincluded-list > .item > .icon,
  .whatsincluded-list > .item > .info {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
  }

  .whatsincluded-list > .item > .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
  }

/* Section - Who's It For */
  .whositfor-section {
    height: 100%;
  }

  .whositfor-section > .container {
    height: 100%;
    padding: 80px 48px 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .whositfor-content {
    width: 49%;
    text-align: center;
  }

  .whositfor-content-left {
    text-align: left;
  }

  .whositfor-content-right {
    height: 320px; /*delete*/
    margin: 48px 0;
  }

  .whositfor-content-left > .heading:after {
    margin-left: 0;
  }

  .whositfor-content > .icon {
    background-image: url(../img/icons/whositfor.svg);
    height: 320px;
    width: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .whositfor-list {
    list-style-type: none;
    text-align: left;
    line-height: 16px;
    margin-bottom: 36px;
  }

  .whositfor-list > .item {
    margin-bottom: 12px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .whositfor-list > .item > .icon,
  .whositfor-list > .item > .info {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
  }

  .whositfor-list > .item > .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
  }

  .whositfor-list > .item > .info > span {
    font-weight: 700;
  }

/* Section - Services */
  .uxplan-section {
    height: 100%;
  }

  .uxplan-section > .container {
    height: 100%;
    padding: 0 48px;
    top: -48px;
    position: relative;
  }

  .uxplan-content {
    text-align: center;
    width: 100%;
  }

  .uxplan-content > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .uxplan-content > .row > .column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
            flex: 0 1 31%;
  }

  .uxplan-content > .row > .column:nth-child(1),
  .uxplan-content > .row > .column:nth-child(3) {
    margin-top: 32px;
  }

  .uxplan-card {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px -5px rgba(153,153,153,1);
  }

  .uxplan-card > .shopify-buy-frame {
    margin: 0 auto;
    padding-bottom: 32px;
  }

  .uxplan-card > .image {
    width: 100%;
    background-color: #efefef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80%;
  }

  .uxplan-info {
    padding: 32px 24px;
    min-height: 960px;
  }

  .uxplan-info > .title {
    margin-bottom: 16px;
  }

  .uxplan-info > .caption {
    min-height: 80px;
    font-size: 16px;
  }

  .uxplan-info > .price {
    font-size: 76px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: #70B3B8;
  }

  .uxplan-info > .price > span {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    display: block;
    text-decoration: line-through;
    color: #aaaaaa;
  }

  .uxplan-info > .list {
    list-style-type: disc;
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 36px;
  }

  .uxplan-info > .list > .item {
    margin-bottom: 12px;
    line-height: 25px;
  }

  .uxplan-info > .divider {
    border-bottom: 1px #efefef solid;
    margin: 32px 0 48px;
  }

  .uxplan-addon > .title {
    margin-bottom: 16px;
  }

  .box {
    position: relative;
    width: 100%;
  }

  .box-top {
    display: flex;
    background: #B70303;
    height: 32px;
    width: 100%;
  }

  .box-placeholder {
    margin: auto;
    font-family: Karla, "san-serif";
    font-size: 12.8px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  .box-bottom {
    top: 32px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 16px solid #B70303;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }

  .uxplan-background {
    height: calc(100% - 200px);
    width: 100%;
    position: absolute;
    top: 0;
  }

  .uxplan-front,
  .uxplan-back {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .uxplan-front {
    top: 72px;
    z-index: -8;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .uxplan-back {
    top: 56px;
    z-index: -16;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  .uxplan-front > .front,
  .uxplan-back > .back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .uxplan-front > .front {
    background-color: #0D2132;
  }

  .uxplan-back > .back {
    background-color: #70B3B8;
  }

/* Section - Bonus */
  .bonus-section {
    height: 100%;
    position: relative;
  }

  .bonus-container {
    padding: 24px;
    max-width: 480px;
    margin: 80px auto 120px;
    box-shadow: 0px 5px 20px -5px rgba(153,153,153,1);
  }

  .bonus-form-submit {
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .bonus-box {
    width: 100%;
  }

  .bonus-label {
    margin-bottom: 16px;
    display: block;
    text-align: center;
  }

  .bonus-textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .bonus-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    height: 100%;
  }

  .bonus-input > input {
    padding: 16px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border: 1px solid #0D2132;
  }

  .bonus-submit {
    padding: 0px 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
  }

/* Media Queries */
  @media screen and (max-width: 640px) {
    .hero-section > .container {
      padding: 240px 48px;
    }

    .whatsincluded-content > .row > .column {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .hero-content {
      width: 100%;
    }

    .whatsincluded-section > .container {
      padding: 24px;
    }

    .whositfor-section > .container {
      padding: 160px 24px;
    }

    .uxplan-section > .container {
      padding: 48px 24px;
    }

    .whatsincluded-content,
    .whositfor-content {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin: 0 0 80px;
    }

    .uxplan-content > .row > .column {
      margin-bottom: 24px;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
    }
  }
