/* Constants */
  .hero-section,
  .nobg-section,
  .withbg-section,
  .contactform-section  {
    width: 100%;
    position: relative;
  }

  .background {
    z-index: -8;
  }

  #nobg,
  #withbg,
  #values,
  #contactform {
    position: absolute;
  }

  #nobg,
  #contactform {
    top: -80px;
  }

  #withbg {
    top: -120px;
  }

  #values {
    top: -160px;
  }

  .red-divider:after {
    content: '';
    background-color: #B70303;
    width: 100%;
    height: 2px;
    max-width: 96px;
    display: block;
    margin: 36px auto 48px;
  }


/* Section - Hero */
  .hero-section {
    height: 100%;
  }

  .hero-section > .container {
    padding: 288px 48px 320px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero-content {
    color: #ffffff;
    margin: auto 0;
  }

  .hero-content-left {
    width: 50%;
  }

  .hero-content > .flueron {
    background: url(../img/logos/apical-logo-black.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    margin: 0 auto 16px;
    height: 80px;
    width: 80px;
  }

  .hero-content > .main-heading {
    margin-bottom: 24px;
  }

  .hero-content > .caption {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 36px;
  }

  .hero-front,
  .hero-back {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .hero-front {
    top: -10%;
    z-index: -8;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .hero-back {
    top: -12.5%;
    z-index: -16;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  .hero-front > .front,
  .hero-back > .back {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .hero-front > .front {
    background-image: url(../img/stock/solutions-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    top: 10%;
  }

  .hero-back > .back {
    background-color: #70B3B8;
    top: 0;
  }

/* Section - No BG Section*/

  .content-left,
  .content-right {
    flex: 0 1 49% !important;
  }

  .nobg-section {
    height: 100%;
  }

  .content-icon {
    width: 100%;
    height: 160px;
    display: block;
    margin: 48px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .content-icon.icon-1 {
    background-image: url(../img/icons/designsprints.svg);
  }

  .content-icon.icon-2 {
    background-image: url(../img/icons/userresearch.svg);
  }

  .content-icon.icon-3 {
    background-image: url(../img/icons/documentation.svg);
  }

  .content-icon.icon-4 {
    background-image: url(../img/icons/assistance.svg);
  }

  .nobg-section > .container {
    height: 100%;
    padding: 120px 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nobg-content {
    text-align: center;
    flex: 0 1 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .nobg-content > .caption {
    margin: 0 auto;
    flex: 1 0 auto;
  }

  .nobg-content > .caption > p {
    text-align: left;
    margin-bottom: 24px;
  }

  .nobg-content > .caption > p:last-child {
    margin-bottom: 48px;
  }

/* Section - With BG Content */
  .withbg-section {
    height: 100%;
  }

  .withbg-section > .container {
    height: 100%;
    padding: 200px 48px 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .withbg-content {
    text-align: center;
    color: #ffffff;
    width: 100%;
  }

  .withbg-content > .caption {
    text-align: left;
    margin: 0 auto;
  }

  .withbg-content > .caption > p {
    text-align: left;
    margin-bottom: 24px;
  }

  .withbg-content > .caption > p:last-child {
    margin-bottom: 48px;
  }

  .withbg-background {
    height: calc(100% - 144px);
    width: 100%;
    position: absolute;
    top: 0;
  }

  .withbg-front,
  .withbg-back {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

  .withbg-front {
    top: 72px;
    z-index: -8;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .withbg-back {
    top: 56px;
    z-index: -16;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  .withbg-front > .front,
  .withbg-back > .back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .withbg-front > .front {
    background-color: #0D2132;
  }

  .withbg-back > .back {
    background-color: #70B3B8;
  }

/* Media Queries */
  @media screen and (max-width: 640px) {

    .hero-section > .container {
      padding: 240px 48px;
    }

    .nobg-content > .row > .column {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .hero-content {
      width: 100%;
    }
    
    .nobg-content,
    .withbg-content {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
      margin: 0 0 80px;
    }

    .content-left,
    .content-right {
      text-align: center !important;
      flex: 0 1 100% !important;
    }

    .content-left > .heading:after,
    .content-right > .heading:after {
      margin-left: auto;
    }

    .content-left {
      order: 2;
    }

  }